@model Project.ViewModels.ProductenOverviewViewModel;
@{
    ViewData["Title"] = "Shop";
  
}


<br>
<br>
<br>
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Filter</h4>

                <div>
                    <h5 class="font-size-14 mb-3">Sorteren</h5>
                    <ul class="list-unstyled product-list">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"  checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Best verkocht
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Prijs oplopend
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                                <label class="form-check-label" for="exampleRadios3">
                                    Prijs aflopend
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                                <label class="form-check-label" for="exampleRadios4">
                                    Naam A-Z
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                                <label class="form-check-label" for="exampleRadios5">
                                    Naam Z-A
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mt-4 pt-3">
                    <h5 class="font-size-14 mb-3">Price</h5>
                    <form class="multi-range-field my-5 pb-5">
                        <input id="multi7" class="multi-range" type="range" />
                    </form>
                </div>


                <div class="mt-4 pt-3">
                    <h5 class="font-size-14 mb-3">Customer Rating</h5>
                    <div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="productratingCheck1">
                            <label class="form-check-label" for="productratingCheck1">
                                4 <i class="bx bxs-star text-warning"></i>  &amp; Above
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="productratingCheck2">
                            <label class="form-check-label" for="productratingCheck2">
                                3 <i class="bx bxs-star text-warning"></i>  &amp; Above
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="productratingCheck3">
                            <label class="form-check-label" for="productratingCheck3">
                                2 <i class="bx bxs-star text-warning"></i>  &amp; Above
                            </label>
                        </div>

                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="productratingCheck4">
                            <label class="form-check-label" for="productratingCheck4">
                                1 <i class="bx bxs-star text-warning"></i>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-9">

        <div class="row mb-3">
            <div class="col-xl-4 col-sm-6">
                <div class="mt-2">
                    <h5>Accesoires</h5>
                </div>
            </div>

        </div>

        <div class="row">

            @foreach (var product in Model.Producten)
            {

                @if (product.CategorieId == 3)
                {


                    <div class="col-xl-4 col-sm-6">
                        <a asp-controller="shop" asp-action="productdetails" asp-route-id="@product.ProductId">
                            <div class="card">
                                <div class="card-body">
                                    <div class="product-img position-relative">
                                        <img src="~/images/@product.Afbeelding" alt="" class="img-fluid mx-auto d-block">
                                    </div>
                                    <div class="mt-4 text-center">
                                        <h5 class="mb-3 text-truncate"><a lass="text-dark">@product.Naam</a></h5>

                                        <p>
                                            @product.Rating/5


                                        </p>
                                        <h5 class="my-0"> <b>€@product.Prijs</b></h5>

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                }}
        </div>





    </div>
</div>
