@model Project.ViewModels.ProductDetailsViewModel;
@{
    ViewData["Title"] = "Shop";



}


@if (this.Model.CategorieId == 1 || this.Model.CategorieId == 3)
{
    <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"  src="~/images/@this.Model.Afbeelding" alt="..." /></div>
            <div class="col-md-6">
              
                <h1 class="display-5 fw-bolder">@this.Model.Naam</h1>
                <div class="fs-5 mb-5">

                    <span>€@this.Model.Prijs</span>
                </div>
                <p class="lead">@this.Model.Beschrijving</p>
                <div class="d-flex">
                    <input  class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button asp-action="AddToCart" class="btn btn-primary" type="button">
                  
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
}
@if (this.Model.CategorieId==2) {
    <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"  src="~/images/@this.Model.Afbeelding" alt="..." /></div>
            <div class="col-md-6">
              
                <h1 class="display-5 fw-bolder">@this.Model.Naam</h1>
                <div class="fs-5 mb-5">

                    <span>€@this.Model.Prijs</span>
                </div>
                <p class="lead">@this.Model.Beschrijving</p>
                <div class="d-flex">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>S</option>
                            <option value="1">M</option>
                            <option value="2">L</option>
                            <option value="3">XL</option>
                        </select>
                    <button asp-action="AddToCart" class="btn btn-primary" type="button">
                  
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>}