@{
    ViewData["Title"] = "Home Page";
}<div class="container">
    <div class="row">
     
        <div class="col">
          
            <img src="~/images/Bestelling.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
       
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="~/images/joel-beukers.png" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6" >
                
                    <p>Deze webshop vertegenwoordigt sport supplementen die 100% zuiver zijn, daarmee bedoelen we zonder toegevoegde suikers en / of aspartaam​​. Aangezien wij alleen de beste ingrediënten in onze producten willen, testen we de ingrediënten zelf voordat ze daadwerkelijk toegevoegd worden aan het eindproduct.</p>
                    <p>Om de ultieme producten te ontwikkelen werken wij samen met diverse gerenommeerde farmaceutische bedrijven in Europa, waaronder een van de grootste in Nederland. Kortom, pure winst!</p>
                    
            </div>
        </div>
    </div>
</div>